class Config {
    /* Discord token */
    public token: string = 'enter token here';

    /* Prefix for bot, e.g. $roll */
    public prefix: string = '$';

    /* Used for accessing the cat api */
    public catApiKey: string = 'enter api key here';

    public exchangeRateApiKey: string = 'enter exchange rate api key here';

    public youtubeApiKey: string = 'enter youtube api key here';

    public weatherApiKey: string = 'enter weather api key here';

    public stockApiKey: string = 'enter alpha vantage api key here';

    public imgurClientId: string = 'enter imgur client id here';

    public doggoBreedLink: string = 'https://pastebin.com/BS8JKb7V';

    public kittyBreedLink: string = 'https://pastebin.com/0iCzvPJq';

    public imageHostPath: string = 'https://raw.githubusercontent.com/zpalmtree/dave/master/images/';

    public bingApiKey: string = 'enter bing api key here';

    public openaiApiKey: string = 'enter open ai api key here';

    public claudeApiKey: string = 'enter claude api key here';

    public watchPollInterval: number = 10000;

    public devEnv: boolean = false;

    public devChannels: string[] = [];

    public privilegedChannels: string[] = [];

    public god: string = 'enter user here';

    public dbFile: string = 'example.sqlite3';

    /* coingecko coin ids to monitor e.g. [{id: 'bitcoin', label: 'bitcoin' }], see coingecko api docs for details */
    public coins: string[] = [];
}

export let config = new Config();
