class Config {
    /* Discord token */
    public token: string = 'enter token here';

    /* Prefix for bot, e.g. $roll */
    public prefix: string = '$';

    /* Used for accessing the cat api */
    public catApiKey: string = 'enter api key here';

    public exchangeRateApiKey: string = 'enter exchange rate api key here';

    public youtubeApiKey: string = 'enter youtube api key here';

    public doggoBreedLink: string = 'https://pastebin.com/BS8JKb7V';

    public kittyBreedLink: string = 'https://pastebin.com/0iCzvPJq';

    public watchPollInterval: number = 10000;

    public devEnv: boolean = false;

    public devChannels: string[] = [];

    public privilegedChannels: string[] = [];

    public god: string = 'enter user here';

    public dbFile: string = 'example.sqlite3';
}

export let config = new Config();
